#root {
  max-width: 100vw;
  margin: 0 auto;

  text-align: center;
  background-color: white;
}
*{
  margin: 0;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.container-fluid{
  padding: 0;
}
/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile {
  padding: 10px;
  text-align: center;
  
}

.name{
  font-size: 100px;
}


/* Profile Section */
.profile-section {
  background-image: url(/src/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}
.pro-text{
  display: flex;
  text-align: left;
  width: 100%;
  justify-content: flex-start;
  padding: 30px;
  position: fixed;
  
}
.pro-text1{
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin: 0px 50px 0px 0px;
  color: white;
  text-shadow: -5px 5px 8px rgba(0,0,0,0.61);

}
.pro-text p{
  width: 400px;
  text-align: justify;
}

.pro-photo{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  box-shadow: -12px 9px 16px -10px rgba(0,0,0,0.73);
-webkit-box-shadow: -12px 9px 16px -10px rgba(0,0,0,0.73);
-moz-box-shadow: -12px 9px 16px -10px rgba(0,0,0,0.73);
}

.navbar {
  background-color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 20;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: 3s;
}
.navbarL {
  background-color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 75px;
  width: 100%;
  
}


.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar ul li {
  width: 100px;
  margin: 5px;
  height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px;
  transition: 0.2s;
}

.navbar ul li a:hover {
  color: #3742fa;
}

/* Sections */
.section {
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  z-index: 15;
}
.section p{
  text-align: left;
}
.section h1 {
  margin-bottom: 20px;
  border-bottom: solid ;
  color: #3742fa ;
}


.section h2 {
  margin-bottom: 10px;
  color: #333;
}

/* Footer */
.footer {
  margin-top: 40px;
  padding: 10px;
  background-color: white;
  color: #3742fa;
}
.data{
  background-color: white;
  border-left: solid 5px  #3742fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 100%;
}
.data p{
  margin: 5px 0px;
  padding: 0;
}
.moreIcon{
  display: none;
}
h3{
  background-color: #3742fa;
  color: white;
  padding: 5px 15px;
  margin: 0;
  border-radius: 20px;
}



@media screen and (max-width:700px) {
  .name{
    font-size: 50px;
  }
  .pro-text{
    flex-direction: column;
    align-items: center;
    
  }
  .pro-text1{
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .pro-text p{
    width: 300px;
    text-align: center;
  }
  .pro-photo{
    width: 250px;
    height: 250px;
    position: relative;
    top: 30px;
  }
  .navbar {
    top: 0px;
    flex-direction: column;
  }
  .navbar ul{
    flex-direction: column;
  }
  .navbarL{
    display: none;
  }
  .navbarL.active{
    display: flex;
  }
  .moreIcon{
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  .moreIcon h1{
    margin: 0px 20px;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3{
    display: none;
  }
}

/*animations*/
.typing {
  width: 8ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
