#header{
  color: #3742fa;
  padding: 10px;
  margin: 0;
  text-align: left;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  font-weight: bold;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}